$color_primary: #599133;
$color_secondary: #044791;

$color_grey1: #757575;
$color_grey2: #616161;
$color_grey3: #212121;

$color_white: #fff;

$gradient_primary: linear-gradient(to right, #599134, #709b34);
